<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="LastFmRootUrl" value="http://ws.audioscrobbler.com/2.0/" />
    <add key="LastFmAppName" value="tagEditor" />  
    <add key="LastFmApiKey" value="bb8f3e7c2142bb9a6860f17f0874bd89" />  
    <add key="LastFmSharedSecret" value="bcec2d241ee4d1899a5dbaa9c9aea097" />  
    <add key="LastFmUsername" value="tagEditorApiDev" />  
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>